{% extends 'base.html' %}

{% block body %}

<form action="" method="POST">
  {% csrf_token %}
  <div class="row container-fluid">
    {% if address %}
        {% for add in address %}
          <div style="color:black;margin:auto" class="col-lg-4">
            <!-- edit button -->
                <div class=""><br>
                    <div class="card border-dark mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="text-muted mb-0">{{add.name}}</p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="mb-0">number</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="text-muted mb-0">{{add.number}}</p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="mb-0">landmark</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="text-muted mb-0">{{add.landmark}}</p>
                            </div>
                          </div>
                          <hr>

                          <div class="row">
                            <div class="col-sm-6">
                              <p class="mb-0">city</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="text-muted mb-0">{{add.city}}</p>
                            </div>
                          </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-6">
                                  <p class="mb-0">address type</p>
                                </div>
                                <div class="col-sm-6">
                                  <p class="text-muted mb-0">{{add.address_type}}</p>
                                </div>
                            </div>
                            <hr>
                            <div style="text-align:center" >
                                <p class="text-muted mb-0">Choose Any
                                <input checked type="radio" value="{{add.id}}" name="address_id">
                                <a class="btn btn-danger" href="{% url 'detailsdeleteview' add.id %}">Delete</a></p>
                                                        
                            </div>
                            {{add.id}}
                        </div>
                    </div>
              </div>
          </div>
        
        {% endfor %}
      </div>
        <div style="text-align:center"><br>
          <button style="margin:auto" class="submit check_out btn">Delivery to this Address</button>
        </div>
    {% else %}
      <div class="container mt-5" style="width:50%;height:12rem">
          <br><br><h4 class="mb-sm-4 mb-3" style="margin-left:110px;color:#F45C5D">Please Add Your Address</h4>
      </div>
    {% endif %}
  </div>
</form>






{% endblock %}